<style type="text/css">
	body{
		text-align: center;
	}

	p{
		margin: 20px 0;
	}
</style>
<div id="refer">
<div class="header">
    <div class="content">
        <p class="logo brandon">Harry&#8217;s</p>
    </div>
</div>
<p>
    <strong>PRIVACY POLICY</strong>
</p>
<p>
  At The Raw Office, we value your trust and respect your privacy. Do unto others is our motto! The following includes general information about our privacy policy and applies to all transactions through our secure website. We will never share your information with third parties.
</p>

<p>
We collect and store securely and confidentially any and all personal information that you give us when you shop on our website, complete an application, place an order, enroll in a promotional or rewards program, call us, send us a letter, or email. This information may include your name, mailing address, email, telephone number, fax number, credit card information, and other optional demographic information.
</p>
<p>
    <strong>What we use this information for:</strong>
</p>
<ul class="content-new">
    <li>- Customize your shopping experience and identify your preferences.</li>
    <li>- Confirm, process, fulfill, and track your orders.</li>
    <li>- Respond to your customer service inquiries or requests.</li>
    <li>- Inform you of special values and featured items.</li>
    <li>- Send you catalogs or promotional offers we believe will be of interest to you.</li>
    <li>- Inform you of recalls or other information on products you have purchased.</li>
    <li>- Prevent or mitigate fraud and credit risk.</li>
    <li>- Administer our promotions, contests, and loyalty programs.</li>
    <li>- Improve our merchandise selection, customer service, and retail experience.</li>
    <li>- Comply with applicable legal demands, laws, and regulations.</li>
</ul>
<p>
<strong>We will NEVER share your personal information with third parties.</strong>
</p>
</div>